
.leaveReviewPage{
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 2px;
    background: #f3f2f0;
}



.scaleContainer{
    margin: 32px 16px 32px 16px;
    text-align: center;
    color: #322885e6;
}



.scaleContainer p{
    width: 112px;
    display: inline-flex;
    flex-direction: column;
    margin: 15px;
    line-height: 21px;
    font-weight: 600;
}



.scaleContainer span{
    color: #E0485d;
}



.newReviewForm{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.newReviewForm p{
    font-weight: bold;
    color: #2e8b57f5;;
}



#ratingInput{
    border: solid 1px #D8D8D8;
    outline: none;
    background-color: #f9f9f9;
    margin: 32px 0px 32px 0px;
    width: 70%;
}



#ratingInput[type=number], #reviewComment[type=text]{
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px;
    font-size: 18px;
}



#reviewComment{
    border: solid 1px #D8D8D8;
    outline: none;
    background-color: #f9f9f9;
    height: 272px;
    width: 80%;
}



#reviewSubButton{
    background: #C62232;
    color: #fff;
    font-size: 24px;
    width: 130px;
    border: solid 1px #C62232;
    margin: 64px 16px 64px 16px;
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    letter-spacing: 2px;
}



#reviewSubButton a{
    text-decoration: none;
    color: #fff;
}




/******************************\\\\\\\\\\  LARGE SCREEN  /////////******************************/



@media only screen and (min-width: 900px) {


    .leaveReviewPage{
        min-height: 90.2vh;
    }


}

