
.submittedPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 91vh;
    font-family: 'Helvetica Neue',Helvetica,BlinkMacSystemFont,Avenir Next,Avenir,-apple-system,sans-serif;
    letter-spacing: 2px;
    background: #f3f2f0;
    width: 100%
}



#submitted{
    margin: 0px 0px 48px 0px;
}