
.submittedPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 91vh;
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 2px;
    background: #f3f2f0;
    margin-top: 5em;
    width: 100%

}

#submitted{
    margin: 0em 0em 3em 0em;
}