
.restaurantPage{
    margin-top: 5em;
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 2px;
    background: #f3f2f0;
}



.contentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}



#nextReview a{
    text-decoration: none;
    color: white;
}



.restaurantInfoContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-bottom: solid 1px #d6c3c5;
    padding-bottom: 35px;
    text-align: center;
}



.restaurantInfo{
    margin-top: 1em;
}



.reviewContainer div p{
    font-weight: bold;
    color: #322885e6;
}



.resButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.imgFluid{
    width: 100%;
}



#leaveRvwBtn{
    background: #C62232;
    color: #fff;
    font-size: 1.4em;
    width: 5em;
    border-radius: 14px;
    margin: 2em 0em 3em 0em;
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    letter-spacing: 2px;
}



#leaveRvwBtn a{
    text-decoration: none;
    color: #fff;
}



#leaveRvwBtn:hover{
    cursor: pointer;
    background: #da334ac9
}