
.restaurantPage{
    font-family: 'Helvetica Neue',Helvetica,BlinkMacSystemFont,Avenir Next,Avenir,-apple-system,sans-serif;
    letter-spacing: 2px;
    background: #f3f2f0;
    min-height: 90vh;
}



.contentContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}



.staticMapContainer{
    width: 100%;
    text-align: center;
}



#nextReview a{
    text-decoration: none;
    color: white;
}



.restaurantInfoContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-bottom: solid 1px #d6c3c5;
    padding-bottom: 35px;
    text-align: center;
}



.restaurantInfo{
    margin-top: 16px;
}



.reviewContainer div p{
    font-weight: bold;
    color: #322885e6;
}



.resButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.imgFluid{
    width: 100%;
    margin-top: 11px;
    box-shadow: 0px 10px 54px 6px #a2a2a0;
}



#leaveRvwBtn{
    background: #C62232;
    color: #fff;
    font-size: 23px;
    width: 130px;
    border-radius: 14px;
    margin: 2em 0em 3em 0em;
    font-family: 'Helvetica Neue',Helvetica,BlinkMacSystemFont,Avenir Next,Avenir,-apple-system,sans-serif;
    font-weight: bold;

}



#leaveRvwBtn a{
    text-decoration: none;
    color: #fff;
}



#leaveRvwBtn:hover{
    cursor: pointer;
    background: #da334ac9
}




/******************************\\\\\\\\\\  TABLET  /////////******************************/



@media only screen and (min-width: 550px) {


    .imgFluid {
        height: 600px;
        width: fit-content;
    }

}








