
.confirmReviewPage{
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 2px;
    background: #f3f2f0;
    margin-top: 5em;
}


.confirmRating, .confirmReview{
    margin: 2em 2em 2em 2em;
}


.confirmRating{
    margin-bottom: 2em;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.confirmButtons{
    justify-content: center;
    display: inline-flex;
    width: 100%;
}

.confirmRating p, .confirmReview p{
    font-weight: bold;
}