
.homeScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
}

.instructions{
    display: inline-flex;
}

.instructSearch, .instructRead, .instructLeave{
    margin: 0em 1em 1em 1em;
    text-align: center;
}

#homeStatement{
    text-align: center;
}

#searchInstruct, #readInstruct, #leaveInstruct{
    width: 4em;
}

