
.homeScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 91vh;
}

.instructions{
    display: inline-flex;
}

.instructSearch, .instructRead, .instructLeave{
    margin: 1em;
    text-align: center;
}

.homeStatement{
    text-align: center;
    margin: 2em 0em 2em 0em;

}

#searchInstruct, #readInstruct, #leaveInstruct{
    width: 4em;
}


/*--------------------------------------- Carousel --------------------------------------------*/
#photo1, #photo2, #photo3, #photo4, #photo5{
    object-fit: contain;
    height: 20em;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.carouselContainer .carousel.carousel-slider {
    margin: 3em 0em 5em 0em;
}

.carouselContainer .carousel .slide{
    background: white;
}

.carouselContainer .carousel .carousel-status{
    display: none;
}
