
header{
    background-color: #da334afa;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 99;
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 2px;
}



#homeLink a, #searchMenu a {
    text-decoration: none;
    color: black;
}



#homeLink{
    margin-left: 10px;
    font-size: 29px;
}



#searchMenu{
    margin-right: 10px;
}



.navItems{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}










