
.searchPage{
    min-height:95vh;
}


.searchForm{
    text-align: center;
}

#searchInput{
    width: 22em;
    height: 4em;
    border: solid 1px #D8D8D8;
    outline: none;
    background-color: #f9f9f9;
}

#searchButton{
    background: #C62232;
    color: #fff;
    width: 8em;
    height: 4em;
    border: solid 1px #C62232;
}

.gradingScale{
    margin: 1em 1em 1em 1em;
    text-align: center;
}


.gradingScale p{
    width: 7em;
    display: inline-flex;
    margin: 7px;
    line-height: 21px;
}