@import url("https://fonts.googleapis.com/css?family=Fontdiner+Swanky|Fredericka+the+Great|Lakki+Reddy&display=swap");

.mainPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

body {
  background: #f3f2f0;
}
