
.homeScreen{
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 2px;
    background: #f3f2f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 84vh;
}




.homeStatement{
    text-align: center;
    margin: 32px 0px 32px 0px;
    background-color: #2e8b57f5;
    width: 100%;
    box-shadow: 0px 0px 32px 5px #9a9595;
}



.action{
    margin: 32px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #322885e6;
}



.instructions{
    display: inline-flex;
    color: #322885e6;
}



#searchInstruct, #readInstruct, #leaveInstruct{
    width: 80px;
}



.instructSearch, .instructRead, .instructLeave{
    margin: 16px;
    text-align: center;
}



a{
    text-decoration: none;
    color: inherit;
}



/******************************\\\\\\\\\\  TABLET  /////////******************************/



@media only screen and (min-width: 550px) {

    .homeScreen {
        min-height: 87vh;
    }


}




/******************************\\\\\\\\\\  LARGE SCREEN  /////////******************************/



@media only screen and (min-width: 900px) {

.homeScreen{
    min-height: 90.2vh;
}


}






