
footer{
    font-family: 'Fredericka the Great', cursive;
}



#twitter, #insta, #fb{
    margin: 32px 16px 16px 8px;
}



#twitter:hover{
     cursor: pointer;
     font-size: 10px;
 }



#insta:hover{
    cursor: pointer;
    font-size: 10px;
}



#fb:hover{
    cursor: pointer;
    font-size: 10px;
}



footer p{
    margin: 8px;
    font-weight: bolder;
}